<%- include('includes/header.ejs') %>

    <section class="details">

        <div class="container-fluid">
            <div class="row">
                <div class="card col-lg-6">
                    <div class="card-body">
                        <img class="icon" src="<%= icon %>" alt="">
                        <hr>
                        <h2 class="card-text">
                            <%= city %> 
                        </h2>
                        <h5 class="card-title weather-h">Temperature : <span>
                                <%= temp %>
                                    <%= unit %>
                            </span></h5>
                        <h5 class="card-text weather-h">Feels like : <span>
                                <%= feels %>
                                    <%= unit %>
                            </span></h5>
                        <hr>
                        <h4 class="card-text">
                            <%= day %> &#183 <strong>
                                    <%= desc %>
                                </strong>
                        </h4>
                        
                    </div>
                </div>
            </div>
        </div>

    </section>

    <%- include('includes/footer.ejs') %>